body {
	background: lavender;
	padding: 10px;
}

h1 {
	font-size: 30px;
	color: white;
	background: blue; 
}

h1, 
div {
	margin-bottom: 20px;
}

#game-title {
	padding: 25px 3px;
	display: inline-block;
	float: left;
	clear: both;
}

#game-intro-container {
	/*display: inline-block;*/
	width: 350px;
	height: 350px;
	/*padding: 30px 3px;*/
	background: beige;
	clear: both;
	/*margin-bottom: 40px;*/
	overflow: auto;
}

.intro {
	margin: 20px 3px;
}

#game-dashboard-container {
	width: 500px;
	height: 100px;
	background: red;
	overflow: auto;
}

#game-target {
	/*padding: 5px 3px;*/
	width: 65%;
	height: 80%;
	background: green;
	display: inline-block;
	margin: 3px 10px 0 0;
	overflow: auto;
}

#game-scores {
	/*padding: 10px 3px;*/
	width: 28%;
	height: 100%;
	background: pink;
	float: right;
}

h2 {
	margin: 5px 3px;
	height: 20px;
}

p {
	padding: 10px 3px 0 3px;
}

#game-match-container {
	width: 500px;
	height: 100px;
	background: lightgrey;
	clear: both;
}

.game-match {
	background: lightblue;
	margin-bottom: 10px;

}

#game-match-counter {
	bottom: 0;
}

.button {
	width: 70px;
	height: 70px;
	float: left;
	margin-right: 10px;
}