body {
	background: url("../images/knitted-netting.png");
	/*background: lavender;*/
	padding: 10px;
}

h1 {
	font-size: 30px;
	color: white;
	background: darkorange; 
}

h1, 
div {
	margin-bottom: 10px;
}

#game-title {
	padding: 25px 3px;
	display: inline-block;
	float: left;
	clear: both;
}

#game-intro-container {
	/*display: inline-block;*/
	width: 350px;
	height: 350px;
	/*padding: 30px 3px;*/
	background: beige;
	clear: both;
	color: green;
	overflow: auto;
}

.intro {
	margin: 20px 3px;
}

#game-dashboard-container {
	width: 250px;
	height: 100px;
	/*background: red;*/
	overflow: auto;
}

#game-target {
	/*padding: 5px 3px;*/
	width: 65%;
	height: 100%;
	background: green;
	display: inline-block;
	/*margin: 3px 10px 0 0;*/
	overflow: auto;
	padding: 5px 3px;
	color: black;
}

#game-scores {
	/*padding: 10px 3px;*/
	width: 30%;
	height: 100%;
	background: lightblue;
	float: right;
}

h2 {
	margin: 5px 3px;
	height: 20px;
}

p {
	padding: 10px 3px 0 3px;
}

#game-play-container {
	/*margin-bottom: 10px;*/
	overflow: auto;
	clear: both;
}

#game-match-container {
	width: 180px;
	height: 100px;
	/*background: lightgrey;*/
	/*clear: both;*/
}

.game-match {
	background: darkgreen;
	padding: 5px 3px;
	color: white;
}

#game-match-container {
	float: left;
	/*margin-top: 10px;*/
	height: 120px;
	overflow: auto;
}

#game-match-counter {
	height: 100%;
}

/*#game-match-counter {
	bottom: 0;
}*/

.button {
	width: 70px;
	height: 70px;
	float: left;
	margin-right: 10px;
	/*clear: both;*/
	/*display: inline-block;*/
}